.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    align-items: center;
    display: flex;
    justify-content: center;
}